@media (max-width: 480px) {
  .logo h1 {
    display: none;
  }
  .botao-categorias {
    display: flex;
    gap: 8px;
    align-items: center;
    border: none;
    border-radius: 24px;
    color: var(--white-3);
    background: none;
    padding: 12px 0px;
    cursor: pointer;
    justify-content: start;
    margin-left: 1rem;
  }

  .ctg {
    padding: 0 !important;
    width: 20rem !important;
  }

  .row {
    width: 20rem;
  }
}
