@media (max-width: 480px) {
  .logo h1 {
    display: none;
  }
  .botao-categorias {
    display: flex;
    gap: 8px;
    align-items: center;
    border: none;
    border-radius: 24px;
    color: var(--white-3);
    background: none;
    padding: 12px 0px;
    cursor: pointer;
    justify-content: start;
    margin-left: 1rem;
    flex-wrap: nowrap;
    width: 20rem;
  }

  .ctg {
    padding: 0 !important;
    width: 20rem !important;
  }

  .row {
    width: 20rem;
  }

  .options-div {
    width: 10rem;
  }

  .containers-geral {
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important;
  }

  .secao-direita {
    display: flex !important;
    justify-content: center !important;
    width: 40rem !important;
  }

  .secao-esquerda {
    display: flex !important;
    justify-content: center !important;
    margin-left: 2rem;
  }

  .secao-pedidos {
    width: 100% !important; 
  }
}
